# Env Vars
.env
.env.*
mise.local.toml

# OS
.DS_Store
*.dSYM/

# IDE
.idea/
.vscode/
.zed/*
!.zed/settings.json
.vim/

# Bindings
*.so

# Python
.venv*/
.pytest_cache/
.ruff_cache/
build/
dist/
*.egg
*.egg-info/
*.py[cdo]
*.pdb

# Rust
target/

# AI Folders (ignored by default)
.agents/
.codex/
.claude/
